@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@100;200;300&display=swap');

/* reset */
html{
    font-size: 62.5%; 
    scroll-behavior: smooth;
    background-color: #222;
}
body{
  font: 1.6rem sans-serif;
  font-family: 'Fira Sans Condensed', sans-serif;  
  margin: 0;
  overflow-x: hidden;
  font-weight: 600;
  transition: all .8s ease-in-out;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
h2{
    font-weight: 900;
}
*{
    box-sizing: border-box; 
    padding: 0;
    margin: 0;
    border: 0;
    list-style: none;
    font-style: normal;
}
input,input[type="submit"], button{
    border: 0;
    background-color: transparent;
    font-size: inherit;
    text-decoration: none;
}
fieldset{
    border: solid .1rem transparent;
}
button{
    background: transparent;
    font-size: inherit;
}
a{
    text-decoration: none;
    color: #222;
}
img{
    display: inline-block;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    object-fit: cover;
}
section{
    scroll-behavior: smooth;
    background-origin: content-box;
}
/*thème*/

body[data-nav="false"] > button{
    height: 5rem;
    width: 5rem;
    display: block;
    color: #fff;
    position: fixed;
    z-index: 7;
    top: 1vh;
    left: 1vw;
    cursor: pointer;
    transition: all ease-in-out 500ms;
}
body:not([data-nav="false"]) > button{
    background-color: #fff ;
    height: 5rem;
    width: 5rem;
    display: block;
    color: #222;    
    position: fixed;
    z-index: 7;
    top: 1vh;
    left: 11vw;
    cursor: pointer;
    transition: all ease-in-out 500ms;
}
body[data-nav="false"]> main{
    transition: all ease-in-out 500ms;
}
body:not([data-nav="false"])> main{
    transform: translateX(11vw);
    transition: all ease-in-out 500ms;
}
.material-symbols-outlined{
    font-size: 3rem;
}
nav{
    position: fixed;
    height: 100vh;
    width: 11vw;
    left: -40vw;
    transition: all ease-in 500ms;
    z-index: 6;

}
nav ul{
    background-color: #222;
    display: grid;
    grid-template-rows: repeat(5,1fr);
    height: 100%;
}
nav ul li{
    width: 100%;
    text-align: center;
    height: 100%;
    border-bottom: solid 0.1rem rgba(255, 255, 0, 0.2);
}

nav ul li a{
    text-transform: uppercase;
    color: #fff;
    width: 100%;
    font-weight: 800;
    letter-spacing: 2px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
nav ul li button{
    color: #fff;
    font-size:xx-large;
}
nav ul li:hover{
    background-color: #fff;
}
nav ul li:hover a, nav ul li:hover button{
    color: #222;
    
}
.home_screen{
    padding: 0;
    margin: 0;
    background-color: #000000;
    background-size:cover;
    background-origin: content-box;
    height: 100vh;
    width: 100vw;
}
h2 {
    text-transform: uppercase;
}
.home_screen h2{
    font-size:100px;
    padding-top: 15%;
    text-align: center; 
    margin-left: auto;
    margin-right: auto;   
}
.home_screen * {
    color: #fff;
    text-align: center;
    line-height: 6rem;
}
.home_screen p{
    font-size: xx-large;
    margin-top: 2rem;
}

.comp{
    background-color: rgb(223, 223, 206);
    height: 100vh;
    width: 100vw;
    padding: 5%;
}
.comp h2, .exp h2, .proj h2{
    font-size: 50px;
    display: block;
    text-align: center;
    margin-bottom: 5%;
}
.comp h3{
    margin-left: 5px;

}
.comp ul{
    margin-left: 5vw;
    margin-bottom: 3vw;
    display: grid;

}
.comp .prog{
    width: 50%;
    grid-template-columns: repeat(3,1fr);
}
.comp .prog li{
    margin: auto;
}
.proj{
    background-color: rgb(77, 75, 75);
    color: #fff;
    height: 100vh;
    width: 100vw;
    padding: 5%;
}
.proj ul{
    overflow: scroll;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    gap: 4rem;

}
.proj ul{

}
.proj ul li{
    margin:auto;
}
.proj ul li figure{
    width: 25vw;
    height:25vw;
    background-color: rgb(0, 0, 0);
    padding: 1rem;
}



.proj ul li figure figcaption{
    color: #fff;
    padding: 1rem;
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 0;
    height:50%;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
    transform: scale(0);
    transition: all 500ms ease-in-out;
    transform-origin: center center;
    display: none;

}
.proj ul li figure figcaption h3 a{
    color: #fff;
}
.proj ul li figure figcaption p{
    padding: 1rem;
}
.proj ul li figure:hover{
    transform: scale(1);
    background-color: aquamarine;
}
.proj ul li figure:hover figcaption{
   transform: scale(1);
   display: block;
}
.proj ul li figure:hover figcaption a{
    color: aquamarine;
    cursor: pointer;
}
.exp{
   background: url(../asset/pexels-pixabay-56832.jpg);
   background-size:cover;
   background-origin: border-box;
   height: 100vh;
   width: 100vw;
   color: #fff;
   font-size: 20px;
   padding: 5%;
}

.exp h2 {
   /* color :#222;*/    
}
.exp .split li h3{
    text-transform:uppercase;
    letter-spacing: 2px;
}

.exp .split{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2.5rem;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1rem;
}
.exp .split .left{
    border-right: solid 0.1rem ;
    padding-left: 1.5rem;

}
.exp li{
    line-height: 5rem;
}
.exp ul li ul li{
    list-style-type: circle;
}
.contacts{
    text-align: center;
    background-color: #fff;
}
.contacts h2{
    margin-left: auto;
    margin-right: auto;
}
.contacts ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    line-height: 6rem;
}

footer{
    max-width: 100%;
    text-align: center;
    color: #222;
    background-color: #fff;
    
}
.show{
    left: 0;
}
/* responsive */
@media screen and (max-width: 700px){
    *{
        margin: 0;
        height: fit-content;
    }
    nav{
        width: min-content;
    }
    body:not([data-nav="false"]) > button {
        transform: translateX(75vw);
        transition: all ease-in-out 500ms;
    }
 
    .home_screen{
        height: 100vh;
    }
    .home_screen p{
        margin-left: 10%;
        margin-right: 10%;
    }
    .comp ul {
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
        gap: 1.25rems;
    }
    .comp{
        height: fit-content ;

    }
    .comp .qualities{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr) ;
        gap: 0.625rem;
    }
    .comp .lang{
        margin-bottom: 0;
    }
    .comp h2, .exp h2,.proj h2{
        padding-left: 0;
        margin:5%;
        margin-top: 0;
        text-align: center;
    }
    .proj {
        height: fit-content;
    }
    .proj ul{
        grid-template-columns: repeat(1,1fr);
    }
    .proj ul li figure{
        width: 40vw;
        height: 40vw;
    }
    .exp{
        margin-top: 0;
        height: min-content;
        padding-bottom: 5%;
    }
    .exp .split{
        display: block;  
    }
    .exp .split .left{
        border-right: none;
        padding-left: 0;
    }
    .exp ul li ul li{
        list-style-type: none;
    }
    .contacts ul {
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(4,1fr);
    }
    footer{
        height: fit-content;
    }
    
    

}
@media screen and (max-width: 1000px) and (orientation: landscape){
    *{
        margin: 0;
        height: fit-content;
    }
    nav{
        width: min-content;
    }
    body:not([data-nav="false"]) > button {
        transform: translateX(75vw);
        transition: all ease-in-out 500ms;
    }
    .home_screen{
        height: 100vh;
    }
    .home_screen p{
        margin-left: 10%;
        margin-right: 10%;
        padding-bottom: 0;
    }
    .comp h2, .exp h2{
        padding-left: 0;
        margin-top: 0;
        margin: 5%;
        text-align: center;
    }
    .comp{
        height: min-content;
    }
    .comp .lang{
        margin-bottom: 0;
        padding-bottom: 5%;
    }
    .proj {
        height: fit-content;
    }
    .proj ul{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
    }
    
 
    
    .exp{
        margin-top: 0;
        height: min-content;
        padding-bottom: 5%;
    }
    .exp .split{
        display: block;
    }
    .exp .split .left{
        border-right: none;
        padding-left: 0;
    }
    .contacts ul {
        grid-template-columns: repeat(4,1fr);
    }
    footer{
        height: fit-content;
    }
    
    
   
}