@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@100;200;300&display=swap');

/* reset */
html{
    font-size: 62.5%; 
    scroll-behavior: smooth;
    background-color: #222;
}
body{
  font: 1.6rem sans-serif;
  font-family: 'Fira Sans Condensed', sans-serif;  
  margin: 0;
  overflow-x: hidden;
  font-weight: 600;
  transition: all .8s ease-in-out;
  overflow-x: hidden;
}
h2{
    font-weight: 900;
}
*{
    box-sizing: border-box; 
    padding: 0;
    margin: 0;
    border: 0;
    list-style: none;
    font-style: normal;
}
input,input[type="submit"], button{
    border: 0;
    background-color: transparent;
    font-size: inherit;
    text-decoration: none;
}
fieldset{
    border: solid .1rem transparent;
}
button{
    background: transparent;
    font-size: inherit;
}
a{
    text-decoration: none;
    color: #222;
}
img{
    display: inline-block;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    object-fit: cover;
}
figcaption{
    display: none;

}
/*thème*/

body[data-nav="false"] > button{
    height: 5rem;
    width: 5rem;
    display: block;
    background-color: rgb(158, 15, 15);
    color: #fff;
    position: fixed;
    z-index: 7;
    top: 0;
    left: 5vw;
    cursor: pointer;
    transition: all ease-in-out 500ms;
}
body:not([data-nav="false"]) > button{
    background-color: #fff ;
    height: 5rem;
    width: 5rem;
    display: block;
    color: #222;    
    position: fixed;
    z-index: 7;
    top: 0;
    left: 10vw;
    cursor: pointer;
    transition: all ease-in-out 500ms;
}
body[data-nav="false"]> main{
    transition: all ease-in-out 500ms;
}
body:not([data-nav="false"])> main{
    transform: translateX(10vw);
    transition: all ease-in-out 500ms;
}
nav{
    position: fixed;
    height: 100vh;
    width: 10vw;
    left: -30vw;
    transition: all ease-in 500ms;
    z-index: 6;

}
nav ul{
    background-color: #222;
    display: grid;
    grid-template-rows: repeat(5,1fr);
    height: 100%;
}
nav ul li{
    width: 100%;
    text-align: center;
    height: 100%;
    border-bottom: solid 0.1rem rgba(255, 255, 0, 0.2);
}

nav ul li a{
    text-transform: uppercase;
    color: #fff;
    width: 100%;
    font-weight: 800;
    letter-spacing: 2px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
nav ul li button{
    color: #fff;
    font-size:xx-large;
}
nav ul li:hover{
    background-color: #fff;
}
nav ul li:hover a, nav ul li:hover button{
    color: #222;
    
}
.home_screen{
    padding: 0;
    margin: 0;
    background: url(../asset/philipp-katzenberger-iIJrUoeRoCQ-unsplash.jpg);
    background-size:cover;
    background-origin: border-box;
    height: 100vh;
    width: 100vw;
}
h2 {
    margin-left: 5%;
    padding-top: 5%;
    width: fit-content;
    height: fit-content;
    text-transform: uppercase;
}
.home_screen h2{
    font-size:100px;
    padding-top: 15%;
    text-align: center; 
    margin-left: auto;
    margin-right: auto;   
    text-decoration: underline;
}
.home_screen * {
    color: #fff;
    text-align: center;
    line-height: 6rem;
}
.home_screen p{
    font-size: xx-large;
    margin-top: 2rem;
}

.comp{
    background-color: rgb(223, 223, 206);
    height: 100vh;
    width: 100vw;
}
.comp h2, .exp h2{
    font-size: 50px;
    margin-bottom: 5%;
    padding-left: 20vw;

}
.comp ul{
    margin: 0 10% 5%;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 1rem;
    
}
.comp .qualities, .comp .lang{
    margin: 2% 10%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
    text-align: center;
    font-size: 25px;
    
}
.comp .lang{
    grid-template-columns: repeat(2,1fr);
}

.comp ul img{
    object-fit: contain;
    filter:grayscale(100%);
}

.exp{
   background: url(../asset/alex-rodriguez-VR-wUq_JYAk-unsplash.jpg);
   background-size:cover;
   background-origin: border-box;
   height: 100vh;
   width: 100vw;
   color: #fff;
   font-size: 15px;
}

.exp h2 {
    color :#222;
}
.exp .split li h3{
    text-transform:uppercase;
    letter-spacing: 2px;
}

.exp .split{
    margin: 5% 10%  ;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2.5rem;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2rem;
}
.exp li{
    line-height: 5rem;
}
.contacts{
    text-align: center;
    background-color: #fff;
}
.contacts h2{
    margin-left: auto;
    margin-right: auto;
}
.contacts ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    line-height: 6rem;
}

footer{
    max-width: 100%;
    text-align: center;
    color: #222;
    height: 30vh;
    background-color: #fff;
    
}
.show{
    left: 0;
}
/* responsive */
@media screen and (max-width: 700px){
    *{
        margin: 0;
        height: fit-content;
    }
    nav{
        width: min-content;
    }
    body:not([data-nav="false"]) > button {
        transform: translateX(75vw);
        transition: all ease-in-out 500ms;
    }
 
    .home_screen{
        height: 100vh;
    }
    .home_screen p{
        margin-top: 6rem;
        margin-left: 10%;
        margin-right: 10%;
    }
    .comp ul {
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
        gap: 1.25rems;
    }
    .comp{
        height: fit-content ;

    }
    .comp .qualities{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr) ;
        gap: 0.625rem;
    }
    .comp .lang{
        margin-bottom: 0;
    }
    .exp{
        margin-top: 0;
        height: min-content;
        padding-bottom: 5%;
    }
    .exp .split{
        display: block;
        
        
    }
    .contacts ul {
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(4,1fr);
    }
    footer{
        height: fit-content;
    }
    
    

}
@media screen and (max-width: 1000px) and (orientation: landscape){
    *{
        margin: 0;
        height: fit-content;
    }
    nav{
        width: min-content;
    }
    body:not([data-nav="false"]) > button {
        transform: translateX(75vw);
        transition: all ease-in-out 500ms;
    }
    .home_screen{
        height: 100vh;
    }
    .home_screen p{
        margin-top: 6rem;
        margin-left: 10%;
        margin-right: 10%;
        padding-bottom: 0;
    }
    .comp{
        height: min-content;
    }
    .comp .lang{
        margin-bottom: 0;
        padding-bottom: 5%;
    }
    .exp{
        margin-top: 0;
        height: min-content;
        padding-bottom: 5%;
    }
    .exp .split{
        display: block;
    }
    .contacts ul {
        grid-template-columns: repeat(4,1fr);
    }
    footer{
        height: fit-content;
    }
    
    
   
}